@import "vars.scss";

.intervalTypeSelectionMenu {
	display: flex;
}

.intervalTypeSelectionMenuButton {
	button {
		padding: 0.2rem;
		background-color: white;
		border-radius: $border-rounded-standard;
	}

	:global {
		button.active {
			background-color: rgba(#000, 0.1);
		}

		button:hover:enabled {
			transition: all 200ms ease;
			background-color: rgba(#000, 0.1);
		}
	}
}

.reviewMasterCreateMenu {
	.resetIcon {
		display: flex;
		justify-content: right;
	}

	.recurringContainer {
		margin-bottom: 1rem;
	}

	.recurringOptions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.4rem;
	}

	.activeTypeSelectionMenu {
		display: flex;
		margin-bottom: 1rem;
	}

	.activeTypeSelectionMenuButton {
		width: 50%;

		button {
			color: $text-light;
			padding: 0.5rem;
			font-weight: 700;
		}

		&:first-child {
			button {
				border-top-left-radius: $border-rounded-standard;
			}
		}

		&:last-child {
			button {
				border-top-right-radius: $border-rounded-standard;
			}
		}
	}
}
